<div class="main-container">
  <h2>Already played!</h2>

  @if (alreadyPlayedSongs()?.length ?? 0 > 0) {
    <mat-list>
      @for (song of alreadyPlayedSongs(); track song) {
        <mat-list-item>
          <span>{{ song }}</span>
          <button mat-mini-fab color="warn" (click)="deleteSong(song)" class="delete-button">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      }
    </mat-list>
  } @else {
    <p>No songs available in your list.</p>
  }
</div>
